.about {
  background-color: rgb(148, 212, 148);
  margin: auto;
}

.about info {
  margin: auto;
}

.about page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  text-align: center;
}
