.admin {
  background-color: bisque;
}

.admin .parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12vh;
}

.admin .form-group {
  margin-bottom: 1rem;
}

.admin .form .ul {
  list-style: none;
}

/**react context api**/
